<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"
      lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">

  <title>Main page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../css/style3.css">
</head>
<body>
<div class="firstpage">
  <div class="container ">

    <header>
      <div class="header">
        <img src="images/logo.png" alt="" class="header-logo">
        <nav>
          <div class="header-nav">
            <a href="#levels8" style="text-decoration: none"><p class="nav-p">LEVELS</p></a>
            <a href="#aboutus8" style="text-decoration: none"><p class="nav-p">ABOUT US</p></a>
            <a href="#contacts8" style="text-decoration: none"><p class="nav-p">CONTACTS</p></a>
            <p class="nav-p"><span th:text="${userLogin}"></span></p>
            <p class="nav-p nav-ps"><a href="/payment2" style="text-decoration: none">No subscription</a></p>
          </div>
        </nav>
      </div>
    </header>
    <p class="first-head">Save The Princess</p>
    <p class=" first-heads">with us</p>
    <p class="first-text">JavaLevelUp - will help you to learn Java not only faster,</p>
    <p class="first-text">  but more interesting</p>
    <img src="images/princess.png" alt="" class="princess">
  </div>
</div>
<div class="second-page">
  <div class="container">
    <div class="second-title" id="levels8">LEVELS</div>
    <div class="second-img-q1"><img src="../images/quest 1.png" alt="" class="q1"></div>
    <p class="second-p">Try our 3 levels for free</p>
    <div class="levels">
      <a href="levels/level1"><img src="../images/location 1.png" alt="" class="level1"></a>
      <a href="levels/level2"  ><img src="../images/location 1.png" alt=""  class="level2" ></a>
      <a href="levels/level3"><img src="../images/location 1.png" alt="" class="level3"></a>
      <img src="images/image 3.png" alt="" class="mario-go">
      <a href="levels/level4"><img src="../images/location (1) 5.png" alt="" class="level4"></a>
      <a href="levels/level5"><img src="../images/location (1) 5.png" alt="" class="level5"></a>
      <a href="levels/level6"><img src="../images/location (1) 5.png" alt="" class="level6"></a>
      <img src="images/image 4.png" alt="" class="mario-gos">
      <a href="levels/level7"><img src="../images/location (1) 5.png" alt="" class="level7"></a>
      <a href="levels/level8"><img src="../images/location (1) 5.png" alt="" class="level8"></a>
      <a href="levels/level9"><img src="../images/location (1) 5.png" alt="" class="level9"></a>
      <a href="levels/level10"><img src="../images/tower (1).png" alt="" class="level10"></a>

    </div>
    <div class="second-img-q2"><img src="../images/quest3png.png" alt="" class="q2"></div>
    <div class="second-img-q3"><img src="../images/treasure-map 1.png" alt="" class="q3"></div>

  </div>
  <footer>
    <div class="footer">
      <div class="container">
        <div class="dddd">
          <div class="about">
            <div class="about-title" id="aboutus8">About US</div>
            <p class="about-text">We are a team of enthusiasts who have big dreams and great goals, who are just starting their way into IT <br>
              Umirbek Nurbek<br>
              Daniyaruly Danial<br>
              Zhumagulov Temirlan</p>
          </div>
          <div class="about">
            <div class="about-title" id="contacts8">Contacts</div>
            <p class="about-text">
              8 707 522 63 85<br>
              8 700 633 75 96r<br>
              8 777  756 74 31</p>
          </div>
        </div>
      </div>
  </footer>
</div>

</body>
</html>